#printImage{
	visibility: hidden;
}
.hidden {
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
}
#nav ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#logo{
	width: 195px;
	height: 113px;
	background-image:   url("../media/logo.gif");
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	top: 111px;
	left: 0px;
}
.logoLink{
	width: 195px;
	height: 113px;
}
#info{
	width: 195px;
	height: 95px;
	background-image:   url("../media/tagline.gif");
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	top: 225px;
	left: 0px;
}
#content{
	width: 526px;
	position: absolute;
	top: 233px;
	left: 200px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #003300;
}
#content h1{
	margin: 0px;
	font-size: 20px;
	font-weight: bold;
}
#content h2{
	margin: 3px 0px 0px 0px;
	font-size: 16px;
	font-weight: bold;
}
a:link{
	color: #66CC00;
}
a:visited{
	color: #66CC00;
}
.greenH1{
	color: #66CC00;
}
.whiteH2{
	color: #FFFFFF;
}
.greenBC{
	font-weight: bold;
	color: #66CC00;
}
.contentImage{
	float: right;
	clear: right;
	margin: 5px 0px 5px 10px;
}
.printPage{
	float: right;
	clear: right;
	margin: 5px 0px 5px 10px;
}
#copyright {
	margin: 20px 0px 20px 0px;
	font-family:Arial, Helvetica, sans-serif;
	color: #003300;
	font-size: 12px;
}
.table{
	border-collapse: separate;
}
.subtd1{
	background-color: #C9D3C0;
	vertical-align: top;
}
.subtd2{
	background-color: #E1E8D0;
	vertical-align: top;
}
td{
	width: 50%;
	padding: 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #003300;
}
.td1{
	background-color: #70942D;
}
.td2{
	background-color: #24461B;
}
.caption{
	text-align: left;
}