vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Aug 2006 20:27:32 -0000
vti_author:SR|ABTECH\\ekwilliams
vti_nexttolasttimemodified:TW|28 Feb 2006 15:05:06 -0000
vti_timecreated:TR|24 Aug 2005 21:02:25 -0000
vti_extenderversion:SR|5.0.2.6790
vti_syncwith_intranet.abtech.edu\:80/college_relations/personnel:TR|18 Aug 2005 13:27:44 -0000
vti_lineageid:SR|{81D8591D-3286-47B5-AE7C-E5EDB3594007}
vti_backlinkinfo:VX|supertuesday/SuperTuesday.asp supertuesday/SuperTuesdayf05.asp
vti_usagebymonth:UX|0
vti_usagebyweek:UX|0
vti_usagebyday:UX|0
vti_usagelastupdated:TX|08 May 2011 03:59:59 -0000
vti_usagetotalhits:IX|0
vti_syncwith_localhost\\c\:\\documents and settings\\ekwilliams\\my documents\\my web sites\\hrintranet/c\:/documents and settings/ekwilliams/my documents/my web sites/hrintranet:TW|28 Feb 2006 15:05:06 -0000
vti_cacheddtm:TX|03 Aug 2006 20:27:32 -0000
vti_filesize:IR|2344
